* {
    font-style: bold;
}

.status {
    display: flex;
    color: red;
    /*align-content: center;*/
    vertical-align: top;
    border: 1px rgb(0, 0, 0) solid;
    text-align: justify;
    height: auto;
    align-items: stretch;
    order: 1;
    text-align: justify;
}

.alg {
    display: flex;
    padding-left: 1em;
    padding-right: 1em;
    justify-content: space-between;
}


.st1 {
    display: flex;
    color: rgb(8, 8, 8);
    white-space: nowrap;
    padding-left: 0%;
    padding-right: 1%;
    border: 1px rgb(0, 0, 0) solid;
    flex-direction: column;
    height: auto;
    width: max-content;
    font-size: 0.7em;
    text-align: justify;
}



.total_ch {
    display: flexbox;
    justify-content: flex-end;
    border: none;
    align-content: flex-end;
    margin-top: auto;
    order: 2;
}
    

.curr {
    color: blue;
    margin-left: 25%;
    padding: 1%;
    font-style: italic;
    font-size: 115%;
}

.backgr {
    background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url('../image/wallpaper.jpg');
    background-size: cover;
    width: 100%;
    height: auto;
}



a {
    color: rgb(201, 2, 2);
    font-size: 1.5em;
    font-style:inherit;
    font-weight:bolder ;
    margin-left: 1em;	
}

.borders {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-bottom: 0.2em rgb(148, 0, 0) solid;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    padding: 1%;
}
.riski {
    display: flex;
    flex-direction: column;
    width: max-content;
    padding-left: 2%;
    padding-right: 2%;
    margin: 0 auto;
    justify-content: center;
    white-space: nowrap;
    align-items: center;
   
    
}

.risk_up {
    border-radius: 0.5em;
    background: yellow;
    animation: shadow 2s infinite ease-in-out;
    border: red 1px solid;
    font-style: inherit;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding-left: 15px;
    padding-right: 15px;	

}

.risk_down {
    border-radius: 0.5em;
    background: rgb(0, 217, 255);
    border: black 1px solid;
    font-style: inherit;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.total {
    display: flex;
    width: 4em;
    height: 4em;
    font-size: 3em;
    overflow: hidden;
    margin: 0 auto;
    color: red;
    background-size:contain;
    animation: totals 5s linear forwards;
    border: 0.1em brown solid;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.fullpage {
    color: blue;
}

.totals {
    display: flex;
    border: 1px black solid;
    height: 14em;
    width: 43.4em;
    background-image: url('../image/emergency.png');
    background-size: cover;
    justify-content: center;
    vertical-align: bottom;
    margin: 0 auto;
}

@keyframes shadow {
    from {background: rgb(255, 255, 156);}
    50% {background: yellow; }
    to {background: rgb(255, 255, 156); }
    }

@media  (max-width: 800px) {
    .mytable {
    margin: 0 auto;    
    color: red;
    font-size: 0.46em;
    width: auto;
    height: auto;
    align-content: center;
    align-items: center;
    justify-content: center;
    }
    .curr {
        font-size: 0.47em;
    }
}    

@media  (min-width: 1200px) {
    .mytable {
    line-height: 1;
    margin: 0 auto;    
    color: red;
    font-size: 1.2em;
    width: auto;
    height: auto;
    align-content: center;
    align-items: center;
    justify-content: center;
    }
    .curr {
        font-size: 1.2em;
    }
    }
    .tr, td, th {
        padding: 10px;
    }
 